.grid-gap {
  height: 1rem;
  grid-column-start: 1;
  grid-column-end: 4;
}

.container {
  display: grid;
  padding: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(0rem, auto);
  grid-row-gap: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 0.25rem;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.button_size_medium {
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  height: 2rem;
}

.button_size_small {
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
}

.button__text {
  display: inline-block;
  width: 3.5rem;
  height: 1rem;
  /*font-family: Ubuntu;*/
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0rem;
  color: var(--white-color);
  white-space: nowrap;
}

.button_size_max-width {
  width: 100%;
}

.button__icon {
  width: 1rem;
  height: 1rem;
  stroke: var(--white-color);
  fill: var(--white-color);
}

.button_icononly.button_size_medium {
  padding: 0.5rem;
}

.button_icononly.button_size_small {
  padding: 0.25rem;
}

.button_color_white {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.button_color_blue {
  background-color: transparent;
  color: var(--blue-color);
}

.button_color_blue > .button__icon {
  stroke: var(--blue-color);
  fill: var(--blue-color);
}

.button_color_blue > .button__text {
  color: var(--blue-color);
}

.button_color_black {
  background-color: transparent;
  color: var(--black_color);
}

.button_color_black > .button__icon {
  stroke: var(--black_color);
}

.button_color_black > .button__text {
  color: var(--black_color);
}
